<div class="flex-column full-height" *ngIf="!generated">
  <div class="flex-item-fixed">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filters
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filters flex-row">

          <div class="filter-container flex-item-auto">
            <div class="filter-label">Level</div>
            <mat-chip-listbox class="mat-mdc-chip-set-stacked">
              <mat-chip-option *ngFor="let level of levels" (click)="selectLevel(level)">
                {{ level }}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>

          <div class="filter-container flex-item-auto">
            <div class="filter-label">School</div>
            <mat-chip-listbox class="mat-mdc-chip-set-stacked">
              <mat-chip-option *ngFor="let school of schools">
                {{ school.name }}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>

          <div class="filter-container flex-item-auto">
            <div class="filter-label">Class</div>
            <mat-chip-listbox class="mat-mdc-chip-set-stacked">
              <mat-chip-option *ngFor="let class of classes" (click)="selectClass(class)">
                {{ class.name }}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>

        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="flex-item-auto spell-list-container">
    <mat-drawer-container autosize>


      <div class="example-sidenav-content">
        <mat-list dense>
          <mat-list-item *ngFor="let spell of spells" class="spell" [class.selected]="spell['@selected']"
            (click)="toggleSpell(spell)">
            <div class="flex-row align-items-center">
              <mat-icon class="flex-item-fixed">{{ spell['@selected'] ? 'check_box' : 'check_box_outline_blank'
                }}</mat-icon>
              <div class="flex-item-fixed">
                <mat-chip>{{ spell.level }}</mat-chip>
              </div>
              <div class="flex-item-auto spell-name">
                {{ spell.name }}
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <mat-drawer #drawer mode="side" position="end" [opened]="true" class="selected-spells">
        <button mat-raised-button color="accent" (click)="generateSpellbook()" [disabled]="!selectedSpells.length">GENERATE SPELLBOOK</button>
        <mat-list dense>
          <mat-list-item *ngFor="let spell of selectedSpells" class="spell">
            <div class="flex-row align-items-center">
              <div class="flex-item-fixed">
                <mat-chip>{{ spell.level }}</mat-chip>
              </div>
              <div class="flex-item-auto spell-name">
                {{ spell.name }}
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-drawer>

    </mat-drawer-container>



    <!-- <div class="flex-row"> -->
    <!-- <div class="flex-item-auto">
        
      </div> -->

    <!-- <div class="flex-item-fixed" *ngIf="selectedSpells?.length">
        
      </div> -->
    <!-- </div> -->

  </div>
</div>
<div class="flex-column full-height preview-container" *ngIf="generated">
  <div class="flex-item-fixed toolbar">
    <mat-toolbar>
      <div class="flex-row align-items-center">
        <div class="flex-item-fixed">
          <button mat-raised-button (click)="generated = false">BACK</button>
        </div>
      </div>
      <div class="flex-item-auto"></div>
      <div class="flex-row align-items-center">
        <div class="flex-item-fixed">
          <button mat-raised-button color="accent" (click)="print()">PRINT</button>
        </div>
      </div>
    </mat-toolbar>
  </div>

  <div class="flex-item-auto overflow-auto preview align-items-center" #printDiv>
    <div *ngFor="let spell of selectedSpells; let i = index" class="page">
      
        <div class="spell-name">{{ spell.name }}</div>
        <div class="spell-subtitle">
          <span *ngIf="spell.level === 0">
            {{ spell.school }} {{ spell.level_desc | lowercase }} {{ spell.ritual ? '(ritual)' : '' }}
          </span>
          <span *ngIf="spell.level > 0">
            {{ spell.level_desc }} {{ spell.school }} {{ spell.ritual ? '(ritual)' : '' }}
          </span>
        </div>

        <div class="details">
          <div class="detail-row">
            <label>Casting Time</label> <span class="detail">{{ spell.casting_time }}</span>
          </div>
          <div class="detail-row">
            <label>Range</label> <span class="detail">{{ spell.range_desc }}</span>
          </div>
          <div class="detail-row">
            <label>Components</label> <span class="detail">{{ spell.component_desc }}</span>
            <span class="detail">{{ spell.material ? '(' + spell.material_desc + ')' : '' }}</span>
          </div>
          <div class="detail-row">
            <label>Duration</label> <span class="detail">{{ spell.duration }}</span>
          </div>
        </div>

        <div class="spell-description" [style.fontSize]="spell['@fontSize']" [innerHtml]="spell['@descHtml']"></div>
        <!-- <div class="page-number">{{ i * 2 + 2}}</div> -->
      </div>
      
    <!-- <div *ngFor="let spell of selectedSpells; let i = index" class="flex-row page">
      
      <div class="flex-item-auto spell-page">
        <img class="school-icon" src="assets/images/schools/{{spell.school}}.png"/>
        <div class="spell-name">{{ spell.name }}</div>
        <div class="spell-subtitle">
          <span *ngIf="spell.level === 0">
            {{ spell.school }} {{ spell.level_desc | lowercase }} {{ spell.ritual ? '(ritual)' : '' }}
          </span>
          <span *ngIf="spell.level > 0">
            {{ spell.level_desc }} {{ spell.school }} {{ spell.ritual ? '(ritual)' : '' }}
          </span>

        </div>
        <div class="details">
          <div class="detail-row">
            <label>Casting Time</label> <span class="detail">{{ spell.casting_time }}</span>
          </div>
          <div class="detail-row">
            <label>Range</label> <span class="detail">{{ spell.range_desc }}</span>
          </div>
          <div class="detail-row">
            <label>Components</label> <span class="detail">{{ spell.component_desc }}</span>
            <span class="detail">{{ spell.material ? '(' + spell.material_desc + ')' : '' }}</span>
          </div>
          <div class="detail-row">
            <label>Duration</label> <span class="detail">{{ spell.duration }}</span>
          </div>
        </div>
        <div class="spell-description" [style.fontSize]="spell['@fontSize']" [innerHtml]="spell['@descHtml']"></div>

        <img class="page-footer" src="assets/images/footer.png"/>
        <div class="page-number">{{ i * 2 + 1 }}</div>
      </div>

      <div class="flex-item-auto blank-page">
        <img class="school-icon" src="assets/images/schools/{{spell.school}}.png"/>
        
        <div class="spell-description" [style.fontSize]="spell['@fontSize']" [innerHtml]="spell['@adtlDescHtml']"></div>
        <img class="page-footer" src="assets/images/footer.png"/>
        <div class="page-number">{{ i * 2 + 2}}</div>

      </div>
    </div> -->
  </div>
</div>
<!-- <footer class="page-footer">
  <img src="assets/images/footer.jpg"/>
</footer> -->
<router-outlet></router-outlet>
<!-- https://www.reddit.com/r/DnD/comments/71s8s8/art_schools_of_magic_symbols/ for symbols -->